<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <title>Hello and Welcome <%= @user.username %>!</title>
    <p>We just wanted to say hello and thank you for signing up to NinetyNine Cats! Your username is: <%= @user.username %>
    </p>
    <br>
    <p>
      To login, plese follow this link: <%= @url %>
    </p>
    <p>We are so happy to have you join us!</p>
  </body>
</html>
